.clock {
    width: 550px;
    height: 550px;
    margin: auto;
    background-size: cover;
    position: relative;
}
.clock__type_sec {
    width: 51px;
    height: 550px;
    position: absolute;
    top: 0px;
    left: 249px;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 3;
}
.clock__type_min {
    width: 53px;
    height: 475px;
    position: absolute;
    top: 38px;
    left: 247px;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 2;
}
.clock__type_hour {
    width: 59px;
    height: 310px;
    position: absolute;
    top: 120px;
    left: 246px;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 1;
}
